.wrapper
  .categorys
    - @category.each do |category|
      = link_to category_path(@category) do
        .hedar__category
          =category.name

  .main_top
    .category
      .category__name
        美容最新投稿
      .category__tweet
        - @tweets.each do |tweet|
          = link_to tweet_path(tweet.id), class: 'category__tweet__post' do
            .category__tweet__item
              = image_tag tweet.image, class: 'category__tweet__image'
              .category__tweet__title
                = tweet.title
    = paginate(@tweets)